.center-div {
    display: flex;
    justify-content: center;
}

.logo {
    background-color: #001529 !important;
    border-radius: 20px;
}

.logo:hover {
    background-color: #001529 !important;
}

.jumbotron {
    margin: 5vh 10vw;
}

.editor-text {
    min-height: 60vw;
}

.ant-card-head-title{
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: normal !important;
    font-size: 2.5em
}